SECRET_KEY=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_PASSWORD=
EMAIL_HOST_USER=
EMAIL_USE_TLS=

DB_ENGINE="django.db.backends.postgresql"
POSTGRES_DB=notifier
POSTGRES_USER=postgres
POSTGRES_PASSWORD=4789
DB_HOST=0.0.0.0
DB_PORT=5432