{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">


	{% comment %}

	{% endcomment %}

	<title>{% block full_title %}{% block title %}{% endblock %}{% endblock full_title %}</title>

	<link rel="canonical" href="{{ request.path }}">
	<link rel="preload" href="{% static 'styles/base.css' %}" as="style">
	<link rel="stylesheet" href="{% static 'styles/bootstrap/base.css' %}">
	<link rel="stylesheet" href="{% static 'styles/base.css' %}">

	{% block head %}{% endblock head %}

	{{ preference.header_html|safe }}

</head>
<body>

	{% block content %}{% endblock content %}


	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="{% static 'scripts/base.js' %}"></script>
	{% block footer_js %}{% endblock footer_js %}

	{{ preference.footer_html|safe }}

</body>
</html>
